.example-element {
    background-color: deepskyblue;
    height: 300px;
    width: 300px;
}

.elements {
    background-color: white;
    color: black;
}

/*a {*/
/*    text-decoration: none;*/
/*    color: darkseagreen*/
/*}*/

.about_us {
    background-color: lightgrey;
    margin: 50px;
    color: seagreen;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
}

.abonement{
    background-color: lightgrey;
    margin: 50px;
    color: seagreen;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
}
/*.button {*/
/*    !* Сбрасываем дефолтные стили *!*/
/*    border: none;*/
/*    outline: none;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    !* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  *!*/
/*    font-family: Roboto, Verdana, Tahoma, sans;*/
/*    !* Тут можно поэкспериментировать *!*/
/*    padding: 10px 16px;*/
/*    border-radius: 10px;*/
/*    color: darkgreen;*/
/*    background: cadetblue;*/
/*    margin-right: 20px;*/
/*}*/

/*.button i {*/
/*    margin-right: 4px;*/
/*}*/
/*.button + .button {*/
/*    margin-left: 6px;*/
/*}*/
.button.green {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    /* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
    font-family: Roboto, Verdana, Tahoma, sans;
    /* Тут можно поэкспериментировать */
    padding: 10px 16px;
    border-radius: 10px;
    color: darkgreen;
    margin-right: 20px;
    background: lightgreen;
}

.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:hover.green {
    background: seagreen;
}

.button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/*div {*/
/*    margin: 24px;*/
/*    text-align: center;*/
/*}*/
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
    justify-items: center;
    column-gap: .5rem;
}

.spaced {
    gap: 1.5rem;
}

@media (min-width: 1000px) {
    .pcrow {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1000px) {
    .pcrow {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
}

.j_between {
    justify-content: space-between;
}

.j_around {
    justify-content: space-around;
}

.j_center {
    justify-content: center;
}

.j_left {
    justify-content: left;
}

.j_right {
    justify-content: right;
}

.j_end {
    justify-content: end;
}

.a_center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.narrow {
    max-width: 800px;
    width: 100%;
}

.wide {
    max-width: 1200px;
    width: 100%;
}

.max_width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    margin: auto 0.5em;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
    cursor: auto;
}

.optional_trigger:not(:checked) ~ .optional {
    display: none;
}

.text_center {
    text-align: center;
}

.big {
    font-size: 1.5em;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.banner {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.25em;
    color: white;
    text-shadow: 0 0 20px black;
    text-align: center;

    background-color: #ccc;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
}

.sticky_menu {
    flex-grow: 5;
    position: sticky;
    top: 0.5rem;
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--color-alt-bg);
    border-radius: 2rem;
    box-shadow: 2px 2px 10px 2px #00000080;
}

input[type=checkbox].collapser {
    display: block;
}

input[type=checkbox].collapser::after {
    background-image: url('/public/img/icons/expand.svg');
    background-color: #00000000;
    background-position: center;
    border: none;
    margin-right: 0.2em;
    cursor: pointer;
}

input[type=checkbox].collapser:checked::after {
    transform: rotate(90deg);
    background-color: #00000000;
}

.collapsible {
    overflow: hidden;
    transition: 0.5s ease;
    height: auto;
}

.collapsed {
    height: 0 !important;
    transition: 0.5s ease;
}

.card {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 2rem;
    margin: 0.25rem;
    box-shadow: 2px 2px 10px 2px #00000080;
}

.logo {
    background: url('/public/img/logo.png') no-repeat;
    width: 101px;
    height: 88px;
    display: block;
}

header {
    border-bottom: 1px solid var(--color-text);
}

header .item {
    display: block;
    /*border-bottom: 2px solid rgba(255, 255, 255, 0);*/
    /*background: darkseagreen;*/
    /*color: seagreen;*/
    /*transition: border-bottom.5s ease;*/
    /*padding: 12px;*/
    /*border: none;*/
    /*border-radius: 3px;*/
    /*text-decoration: none;*/
    /*font-family: Tahoma;*/
    /*font-size: 18px;*/
    /*line-height: 1;*/
    /*font-weight: 100;*/
    /*cursor: pointer;*/
}

header .item:hover {
    border-color: black;
    transition: border-bottom .5s ease;
}

header .item_active:not(:hover) {
    border-color: rgba(109, 161, 92, 1);
}

header .item a {
    display: block;
    color: seagreen !important;
    text-decoration: none !important;
    padding: 40px 28px;
}

.contact {
    font-weight: 700;
    text-decoration: none;
    /*color: var(--color-text);*/
    /*transition: color 0.5s ease;*/
    background-color: lightgrey;
    color: seagreen;
    height: auto;
    width: auto;
    padding: 10px 10px 20px 10px;
}

.contact:hover {
    color: var(--color-accent);
    transition: color 0.5s ease;
}

footer {
    background-color: #e4e4e4;
    padding: 5em 0;
    font-weight: var(--weight-alt);
    font-size: 16px;
    margin-top: 4rem;
}

footer a {
    font-weight: var(--weight-alt);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social_button {
    margin: 0.5em;
    width: 2rem;
    height: 2rem;
}

.footer_credits {
    margin-top: 1em;
}

:root {
    --color-bg: #fff;
    --color-text: #000;
    --color-alt-bg: #def;
    --color-alt-text: #404560;
    --color-accent: #6af;
    --color-accent-highlight: rgb(108, 177, 255);

    --weight-normal: 400;
    --weight-alt: 200;
    --weight-accent: 700;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

section:not(:first-child) {
    margin-top: 2rem;
}

p {
    margin: 0;
}

a {
    color: var(--color-accent);
    font-weight: 800;
}

ul, li {
    padding: 0;
    margin: 0em;
    display: block;
    list-style: none;
}

table {
    /* border-collapse: collapse; */
    border-spacing: 1em;

}

td > p {
    margin: 0;
    /* margin: 0.3em 0.5em; */
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.list li {
    margin-left: 2em;
    list-style: disc;
    display: list-item;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 0.75em;
    margin-bottom: 0.2em;
}

label {
    display: block;
}

/* label {
	align-self: center;
	margin-right: 1em;
} */


.section2 {
    display: flex;
    gap: 20px;
    height: auto;
    width: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 3px 10px 0 rgba(98, 141, 19, 0.06);
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    margin: 50px;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
}

.section_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 370px;
    scroll-snap-align: start;
    background-color: #ccc;
    flex: 0 0 25%;
}

.item1 {
    background-color: #FF7373;
}

.item2 {
    background-color: #FF9640;
}

.item3 {
    background-color: #5CCCCC;
}

.item4 {
    background-color: #67E667;
}

.item5 {
    background-color: #1D7373;
}